
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


*.userprefs


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


.vs/
.vscode/


.idea/


project.lock.json
project.fragment.lock.json
artifacts/


.tye/

ScaffoldingReadMe.txt


*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc


*.pfx
*.snk
appsettings.*.json
appsettings.local.json


_ReSharper*/
*.[Rr]e[Ss]harper


_NCrunch_*
.*crunch*.local.xml

*.psess
*.vsp
*.vspx
*.sap


*.coverage
*.coveragexml


node_modules/


*.log


.paket/
paket-files/


*.nupkg
*.snupkg
*.nuspec
*.psmdcp
.packages
.nuget/


PublishScripts/


Thumbs.db
ehthumbs.db


*.cab
*.msi
*.msm
*.msp


*.lnk